:root {
  --clr-main-background: #161616;
  --clr-section-background: #262626;
  --clr-form-input-background: #272727;
  --clr-expense-item-background: #1c1c1c;
  --clr-expense-date-background: rgb(46, 46, 46);
  --clr-text: rgb(229, 229, 229);

  --clr-text-red: #9d1c1e;
  --clr-text-green: #1c9d4e;
  --clr-text-gray: rgb(164, 164, 164);
  --clr-text-yellow: #9d8e1c;
  --clr-label: rgb(82, 82, 241);

  --clr-button-backgroud: #1c519d;
  --font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--clr-text);
}

a:visited {
  color: initial;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: var(--clr-main-background);
  color: var(--clr-text);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  body {
    align-items: center;
  }

  .app {
    width: 750px;
  }
}

button,
a {
  -webkit-tap-highlight-color: var(--clr-main-background);
  outline: none;
  -moz-outline-style: none;
}

button:focus,
a:focus {
  outline: none;
}

.app {
  padding: 0.5rem 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

section {
  padding: 1rem 0.5rem;
  border-radius: 8px;
  background-color: var(--clr-section-background);
}



/**************** Info section styles *****************/
#info-section {
  display: flex;
  justify-content: space-between;
}

#intro h1 {}

#logout-button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  color: var(--clr-text);
}

/**************** Expense-stats section styles *****************/
#amount-stats {

}

#amount-stats .amount-stats-figures {
  background-color: var(--clr-section-background);
  border-radius: 8px;
  justify-content: space-between;
}

.amount-stats-figures hr {
  margin-block: 0.4rem;
  opacity: 0.3;
}

.amount-stats-figures h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount-stats-figures h1 span {
  color: var(--clr-text);
  font-weight: lighter;
  font-size: 0.9rem;
  opacity: 0.8;
}

.amount-stats-figures .element {
  display: flex;
  font-size: 0.8rem;
  color: var(--clr-text-gray);
  opacity: 0.1;
}

.income-flow {
  font-size: 1.5rem;
  color: var(--clr-text-red);
  display: flex;
  align-items: center;
  gap: 0.2rem;

  #icon-outgoing {
    transform: rotateZ(45deg);
  }

  #icon-incoming {
    transform: rotateZ(45deg);
  }
}

#total-incoming-amount {
  color: var(--clr-text-green);
}

#balance-amount {
  color: var(--clr-text-gray);
}

/************************ Recent transactions ****************************************/
#recent-transaction-list {
  height: 100%;
  background-color: var(--clr-section-background);
}

.transaction {
  color: var(--clr-button-backgroud);

}

a .transaction.show-more {
  color: var(--clr-button-backgroud );
}


/*******************************************************************/
#expenses-list,
#recent-transaction-list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

#expenses-list {
  background: none;
}

#filters-section {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  margin-block: 0.3rem;
}

#filter-button {
  width: 2rem;
  height: 1.5rem;
  font-size: 1rem;
  background: none;
  color: inherit;
  border: none;
  outline: none;
  display: flex;
  align-items: center;

  color: var(--clr-text);
}

#filter-button span {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 8px;
}

#filters-section .filters {
  overflow: hidden;
  width: 100%;
  gap: 0.5rem;
  transition: display 2s ease-in-out;
}


.filters select {
  width: 100%;
  background-color: var(--clr-section-background);
  border-radius: 8px;
  color: var(--clr-text);
  opacity: 0.7;
  padding: 0.5rem;
  text-align: center;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.filters select:focus {
  border: 2px solid var(--clr-button-backgroud);
}

.expense-list {
  padding-block: 0.5rem;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.empty-list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
  gap: 1rem;
}

.empty-list #empty-svg {
  margin: 0;
  padding: 0;
  width: 100px;
  opacity: 0.5;
}

.empty-list h3 {
  color: var(--clr-text-gray);
  font-style: italic;
}

.expense-list::-webkit-scrollbar {
  display: none;
}

.expense-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-expense-item-background);
  border-radius: 8px;
  gap: 1rem;
  position: relative;
}

.delete-expense {
  position: absolute;
  top: -4px;
  right: 0;
  color: rgb(158, 158, 158);
  background: rgb(71, 71, 71);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  outline: none;
  border: none;
  font-size: 8px;
}

.expense-item .expense-details {
  display: flex;
  gap: 0.4rem;
  overflow-x: hidden;
}

.expense-item .expense-details .expense-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-expense-date-background);
  padding: 0.5rem;
  margin: 5px;
  border-radius: 4px;
}

#expense-date-day {
  font-weight: bold;
  font-size: 1rem;
}

#expense-date-year,
#expense-date-month {
  font-size: 0.7rem;
  opacity: 0.8;
  font-weight: lighter;
}

.expense-details .expense-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;
}

.expense-description .expense-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expense-description .expense-category {
  font-size: 0.8rem;
  text-transform: capitalize;
  background-color: rgb(40, 40, 40);
  width: fit-content;
  padding: 2px 6px;
  border-radius: 4px;
  opacity: 0.5;
}

.expense-amount {
  margin-right: 0.5rem;
  padding: 0.5rem;
  color: var(--clr-text-red);
  font-weight: normal;
}

#salary,
#person {
  color: var(--clr-text-green);
}

/*********************** Expense Action styles *******************************************/
#expense-actions {
  background: none;
  margin-inline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.3rem;
  gap: 0.75rem;
  align-items: center;
}

#expense-actions button {
  width: 100%;
  height: 3rem;
  background-color: var(--clr-button-backgroud);
  padding: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--clr-text);
  border-radius: 24px;
}


#expense-actions #add-money {
  background-color: white;
  color: black;
}

/******************** Expense Form ********************************/
.add-expense-modal {
  z-index: 999;
  background-color: var(--clr-main-background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.add-expense-modal .expense-form {
  padding: 2rem 1rem;
  background-color: var(--clr-main-background);
  border: 2px solid rgb(41, 41, 41);
  position: relative;
  border-radius: 2rem 0;
}

.expense-form #close-btn {
  background-color: rgb(142, 26, 26);
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -4px;
  scale: 1.8;
}

.expense-form form {
  width: 300px;
}

.expense-form form .input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-top: 1rem;
}

.expense-form form .input-field input,
.expense-form form .input-field select {
  width: 100%;
  background-color: var(--clr-form-input-background);
  color: inherit;
  padding: 0.8rem 1rem;
  outline: none;
  border: none;
  border-radius: 4px;

  &:focus {
    border: 3px solid rgb(32, 60, 115);
  }
}

.expense-form form button {
  margin-top: 2rem;
}

/********************Login Page************************/
.login-page {
  height: 100vh;
  display: grid;
  height: calc(var(--vh, 1vh) * 100);

  place-content: center;
  /* background-color: red; */
}

.login-page #login-heading {
  text-align: center;
}

.login-page form {
  width: 300px;
  margin-block: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: red; */
}


.login-page form input {
  width: 100%;
  background: none;
  color: var(--clr-text);
  border: 2px solid var(--clr-expense-date-background);
  font-size: 1rem;
  border-radius: 8px;
  letter-spacing: 0.1rem;
  padding: 1rem;
  font-weight: bold;
}


#login-btn,
#login-with-google-btn {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--clr-button-backgroud);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--clr-text);
  gap: 1rem;
  outline: none;
  border: none;
}

#login-with-google-btn {
  background-color: var(--clr-text);
  color: var(--clr-form-input-background);
}

#divider {
  border: 1px solid var(--clr-text-gray);
  opacity: 0.4;
  margin-bottom: 2rem;
}

#loading-div {
  /* background-color: red; */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#links-section {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  bottom: 0;
  padding: 1rem 1.5rem 0.5rem;
  background-color: var(--clr-section-background);
  border-radius: 40px 40px 0 0;
  box-shadow: -5px -5px 20px var(--clr-main-background);
}

#links-section .link-container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-text-gray);
}

#links-section .link-container .link-icon {
  font-size: 1.5rem;
}

#links-section .link-container .link-label {
  font-size: 0.6rem;
  font-weight: bold;
}