:root {
  --clr-main-background: #161616;
  --clr-section-background: #262626;
  --clr-form-input-background: #272727;
  --clr-expense-item-background: #1c1c1c;
  --clr-expense-date-background: rgb(46, 46, 46);
  --clr-text: rgb(229, 229, 229);
  --clr-text-red: #bf0000;
  --clr-text-green: rgb(15, 120, 1);
  --clr-text-gray: rgb(164, 164, 164);
  --clr-button-backgroud: rgb(90, 90, 195);
  --font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: var(--clr-main-background);
  color: var(--clr-text);
  font-size: var(--font-size);
}

button,
a {
  -webkit-tap-highlight-color: var(--clr-main-background);
  outline: none;
  -moz-outline-style: none;
}

button:focus,
a:focus {
  outline: none;
}

.app {
  margin-inline: 0.5rem;
  padding-block: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

section {
  padding: 1rem 0.5rem;
  border-radius: 8px;
}

#amount-stats,
#info-section,
#expenses-list{
background-color: var(--clr-section-background);
}

#expense-actions,
#amount-stats,
#info-section {
  flex: 1;
}

#expenses-list {
  flex: 16;
}

/**************** Info section styles *****************/
#info-section {
  display: flex;
  justify-content: space-between;
}

#logout-button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  color: var(--clr-text);
}

/**************** Expense-stats section styles *****************/
#amount-stats {}
#amount-stats .amount-stats-figures {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount-stats-figures .element {
  display: flex;
  font-size: 0.8rem;
  color: var(--clr-text-gray);
  opacity: 0.2;
}

.income-flow {
  font-size: 1.5rem;
  color: var(--clr-text-red);
  display: flex;
  align-items: center;
  gap: 0.2rem;

  #icon-outgoing {
    transform: rotateZ(-45deg);
  }

  #icon-incoming {
    transform: rotateZ(45deg);
  }
}

#total-incoming-amount {
  color: var(--clr-text-green);
}

#balance-amount {
  font-size: 1rem;
  color: var(--clr-text-gray);
}

/*******************************************************************/
#expenses-list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#filters-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-block: 0.5rem; */
  font-size: 1.5rem;
}

#filter-button {
  width: 2rem;
  height: 1.5rem;
  font-size: 1.5rem;
  background: none;
  color: inherit;
  border: none;
  outline: none;
}

#filters-section .filters {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.filters select {
  width: 100%;
  background-color: var(--clr-section-background);
  border-radius: 8px;
  color: var(--clr-text);
  opacity: 0.7;
  padding: 0.3rem;
  text-align: center;
}

.expense-list {
  padding-block: 0.5rem;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.expense-list::-webkit-scrollbar {
  display: none;
}

.expense-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-expense-item-background);
  border-radius: 8px;
  gap: 1rem;
  position: relative;
}

.delete-expense {
  position: absolute;
  top: -4px;
  right: 0;
  color: rgb(158, 158, 158);
  background: rgb(71, 71, 71);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  outline: none;
  border: none;
  font-size: 8px;
}

.expense-item .expense-details {
  display: flex;
  gap: 0.5rem;
  overflow-x: hidden;
}

.expense-item .expense-details .expense-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-expense-date-background);
  padding: 0.5rem;
  margin: 5px;
  border-radius: 4px;
}

#expense-date-day {
  font-weight: bold;
  font-size: 1rem;
}

#expense-date-year,
#expense-date-month {
  font-size: 0.7rem;
  opacity: 0.8;
  font-weight: lighter;
}

.expense-details .expense-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-block: 0rem;
  overflow: hidden;
}

.expense-description .expense-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expense-description .expense-category {
  font-size: 0.8rem;
  text-transform: capitalize;
  background-color: rgb(40, 40, 40);
  width: fit-content;
  padding: 2px 6px;
  border-radius: 4px;
  opacity: 0.5;
}

.expense-amount {
  margin-right: 0.5rem;
  padding: 0.5rem;
  color: var(--clr-text-red);
  font-weight: normal;
}

#salary,
#person {
  color: var(--clr-text-green);
}

/*********************** Expense Action styles *******************************************/
#expense-actions {
  display: flex;
  justify-content: space-around;
  padding-block: 0.3rem;
}

#expense-actions button {
  width: 160px;
  background-color: var(--clr-button-backgroud);
  padding: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--clr-text);
  border-radius: 24px;
}

#expense-actions #add-money {
  background-color: white;
  color: black;
}

/******************** Expense Form ********************************/
.add-expense-modal {
  z-index: 999;
  background-color: var(--clr-main-background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.add-expense-modal .expense-form {
  padding: 2rem 1rem;
  background-color: var(--clr-main-background);
  border: 2px solid rgb(41, 41, 41);
  position: relative;
  border-radius: 2rem 0;
}

.expense-form #close-btn {
  background-color: rgb(142, 26, 26);
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -4px;
  scale: 1.8;
}

.expense-form form {
  width: 300px;
}

.expense-form form .input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-top: 1rem;
}

.expense-form form .input-field input,
.expense-form form .input-field select {
  width: 100%;
  background-color: var(--clr-form-input-background);
  color: inherit;
  padding: 0.8rem 1rem;
  outline: none;
  border: none;
  border-radius: 4px;

  &:focus {
    border: 3px solid rgb(32, 60, 115);
  }
}

.expense-form form button {
  margin-top: 2rem;
}

/********************Login Page************************/
.login-page {
  height: 500px;
  display: grid;
}

.login-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-page form button,
.login-page form input {
  background-color: var(--clr-modal-background);
  color: var(--clr-text);
  padding: 1rem;
  border: 2px solid var(--clr-expense-date-background);
  font-size: 1.2rem;
  border-radius: 8px;
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: bold;
}

#login-button {
  display: none;
}
