:root {
  --clr-main-background: rgb(20, 20, 20);
  --clr-modal-background: rgba(44, 44, 44);
  --clr-form-input-background: rgb(39, 39, 39);
  --clr-text: rgb(235, 235, 235);

  --font-size: 1rem;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: var(--clr-main-background);
  color: var(--clr-text);
  font-size: var(--font-size);
}

.app {
  margin-inline: 1rem;
}

.header {
  padding-block: 2rem;
  /* background-color: rgb(52, 41, 41); */
  text-align: center;
}

.header .button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.header .button-group button,
.expense-form form button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: inherit;
  padding: 1rem 2rem;
  margin-top: 1rem;
  background-color: rgb(78, 78, 161);
  font-weight: bold;
  border-radius: 1.5rem;
}
#add-expense-btn {
  background-color: white;
  color: black;
}

.add-expense-modal {
  inset: 0 0 0 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-expense-modal .expense-form {
  padding: 1rem;
  background-color: var(--clr-main-background);
  position: relative;
  border-radius: 8px;
}

.expense-form #close-btn {
  background-color: rgb(142, 26, 26);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  scale: 1.8;
}

.expense-form form {
  width: 300px;
}

.expense-form form .input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-top: 1rem;
}

.expense-form form .input-field input,
.expense-form form .input-field select {
  width: 100%;
  background-color: var(--clr-form-input-background);
  color: inherit;
  padding: 0.8rem 1rem;
  outline: none;
  border: none;
  border-radius: 4px;

  &:focus {
    border: 1px solid rgb(32, 60, 115);
  }
}

.expense-form form button {
  margin-top: 2rem;
}